<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stock Analysis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="static/style.css">
</head>

<body style="background-color: lightgray">
     
    <div class="navbar-header col-md-12 navbar  jumbotron jumbotron-fluid bgimg ">

        <h1 class="textfont captiontext ">Stock Analysis

        </h1>
        <h3 class="textfont textnav">The S&P 500 is widely regarded as the best single gauge of large-cap US equities.
        </h3>
        <h3 class="textfont textnav">The index includes 500 leading companies and captures approximately 80% coverage of
            available market capitalization.</h3>
        <a href="{{url_for('home')}}" style="color:rgb(247, 242, 242)";> HOME </a>&nbsp&nbsp <a href="{{url_for('S_PData')}}" style="color:rgb(247, 242, 242)";> S&P DATA </a>
    </div>  
       
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="well bgimg2">
                <h3 class="textfont  ">S&P 500 Sectorwise Analysis</h3>
                <h5 class="textfont">Top 10 Stocks in the Sector based on Revenue</h5>
                <h5 class="textfont "><strong>SELECT SECTOR</strong></h5>
                <select id="sectorDataset">
                </select>
                <!-- Add the Pie chart and top 10 company by sector (Jenny) -->
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color :rgb(16, 124, 124) ">
                    <h3 class="panel-title textfont " style="text-align: center;">Top 10 Company in the Sector</h3>
                </div>
                <div >
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well bgimg1">
                    <h3 class="textfont  ">Company's Key Financial Indicator</h3>
                    <h5 class="textfont "><strong>SELECT TICKER</strong></h5>
                <ul><li style="display: inline;">
                    <select id="shareDataset" >
                        <!-- onchange="optionChangedTicker(this.value)" -->
                    </select>
                    </li>
                    <li style="display: inline;">
                        <button onclick="myFunc()" >Click</button>
                    </li>
                    
                </ul>
                    <h6 style="color:rgb(247, 242, 242)";>Click the button to see time series graph and key financial indicator for a period of 4  years (2014-18)</h6>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color :rgb(16, 124, 124) ">
                    <h3 class="panel-title textfont " style="text-align: center;"></h3>
                </div>
                <div id="sample-metadata" class="panel-body">
                    <img src="static/Images/logo_nav.png" class="rounded float-left img-thumbnail" alt="logo">
                </div>
            </div>
        </div>
    </div>
    <script>
        function myFunc() {
            var ticker = d3.select("#shareDataset");
            localStorage.setItem("Ticker", ticker.property("value"));
            
            window.location.href="{{url_for('tostock')}}";
        } 

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <!-- Chart.js -->  
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!-- D3 -->  
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="static/landing.js"></script>
    <!-- <script src="./stock.js"></script> -->
    


</body>

</html>